{% extends "base.html" %}

{% block content %}
<article class="chapter">
    <h2 class="chapter-title">Глава Первая<br>Мир Распадающийся</h2>
    
    <p>Да будет ведомо всем ныне живущим и грядущим поколениям о Великой Братской Войне, что раздирала Трёхцарствие в лето от рождения брата младшего Вовы - девятое. Сия летопись, да сохранит память о сечи малой по времени, но великой по страстям, дабы грядущие братья не повторили ошибок предков своих.</p>
    
    <p>В стародавние времена, кои ныне зовутся лишь в приглушённых разговорах, пребывало Трёхцарствие в шатком перемирии. Три державы, разделённые нерушимыми стенами и великими дверными проёмами, владели каждая своей провинцией, да уделом. И богатства их были столь различны, сколь и души владык.</p>
    
    <div class="kingdom">
        <h3>Царствие Первое: Пустошь Дотерская</h3>
        <p>Царствие первой державы, что была комнатой Митиной, да пустошей дотерской. За длинною стеной коридорною, в царстве где ветер гулял меж пустых, пыльных углов, правил Митян, Брат старший - Митя. Земля его была небольшой и пустынной, ни сокровищ видимых, ни армии грозной. Лишь тень недовольства, да жажда обладанием владений чужих. Митя же, старший по летам, посчитал сей факт достаточным правом на все окружные земли и богатства младших. Границы его охранялись строго и грозно, вход без стука карался мгновенным окриком.</p>
    </div>
    
    <div class="kingdom">
        <h3>Царствие Второе: Крепость Знаний</h3>
        <p>Средний же брат, Саша Мудрый княжил в царстве мысли, кода и ремесла, что прилегало к стратегическому объекту: Кухне. Стены его крепости были сложены не из камня, а из десятков книг, возвышавшихся бастионами знаний. Здесь, среди фолиантов и свитков, зрели семена будущих изобретений. Саша, слывший справедливым, но твёрдым, ревниво оберегал свои границы и священный шоколадный запас.</p>
    </div>
    
    <div class="kingdom">
        <h3>Царствие Третье: Земли Отваги</h3>
        <p>А младший, Вова Отважный, владел землями, что примыкали к стене великой, огораживающей от редких вражеских набегов с царства пустоши. Армия Вовина была пестра: Легионы плюшевых котов, чьи глаза взирали вдаль. Храбрец-Вовец был скор на расправу и верен слову, особенно, данному Саше Мудрому. Он вместе с Сашей был близок к нейтральным диванным землям, что станет местом будущих сражений.</p>
    </div>
    
    <p>Связывали царства узкие пути торговые - Коридорные, да источники жизни, Кухня с жизнетворным соком, да мороженным укрепляющим и Ванная с водой для умывания, купания и... будущих военных нужд. Мир зиждился на хрупких, негласных правилах братского согласия: <em>Без спроса не тронь, коли богатый - поделись, а если зайти хочешь: постучись.</em></p>
    
    <p>Но миру сему суждено было рухнуть! Зёрна раздора, посеянные скукой, дали всходы:</p>
    
    <p>Митей были выдвинуты территориальные претензии на нейтральный диван. Под гнётом Митиной "Старшинской дипломатии", в сердце Саши и Вовы созрел союз против общего врага. Так образовалась Ось Справедливости. Их объединяла воля защитить свои хоть и малые, но мирные царства от растущего голода Блока Агрессии во главе с Митяном.</p>
    
    <p>Воздух наполнился дымом, Саша приготовился, Вовины коты насторожили уши. Малейшая искра - и пламя войны охватит все земли от длинного коридора до великого шкафа в княжестве Сашином. Искра эта уже тлела - в руках Саши Мудрого, склонившегося над странным предметом: пустой бутылкой и длинной трубочкой в глубинах его комнаты...</p>
    
    <p class="final-sentence">Тишина перед бурей воцарилась над Трехцарствием. Летописец же, зная, что грядут дни крови, воды и имбирного запаха, откладывает перо.</p>
</article>
{% endblock %}

{% block page_number %}[ 1 ]{% endblock %}