{% extends "base.html" %}

{% block content %}
<div class="title-page">
    <div class="epigraph">
        <p>«Да сохранит память о сечи малой по времени,<br>но великой по страстям»</p>
    </div>
    <h2>Война Комнат</h2>
    <div class="author">Летопись Великой Братской Войны</div>
    
    <div class="book-author">Автор: Летописец Братских Войн</div>

    <div class="start-reading">
        <a href="/chapter1">Читать сагу →</a>
    </div>
</div>
{% endblock %}

{% block page_number %}[ I ]{% endblock %}